@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.page {
    min-width: 1100px;
    max-width: 1920px;

    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
}

/*  HEADER STYLES */
.header {
    height: 90px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;

    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: #ffffff;
}

.header__menu {
    list-style: none;
    width: 368px;
    display: flex;
    justify-content: space-between;
}

.header__link {
    text-decoration: none;
    color: #ffffff;
}

.header__link:hover {
    color: #929EAF;
}

.header__search {
    color: #929EAF;
}

.logo {
    width: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__span {
    text-transform: uppercase;
    background-color: #4A90E2;
    width: 39px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Lato', sans-serif;
    border-radius: 3px;
    line-height: 17px;
}

/* FIRST SECTION STYLES */
.content {
    display: flex;
    flex-direction: column;
}

.recipes {
    margin: 30px auto 70px;
    display: flex;
    color: #ffffff;
}

.recipes__big-column {
    width: 373px;
    height: 560px;
    position: relative;
    border-radius: 5px;
}

.recipes__big-title {
    font-size: 26px;
    font-weight: bold;
    line-height: 36px;

    position: absolute;
    left: 22px;
    bottom: 23px;
    z-index: 2;
}

.recipes__big-author {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;

    position: absolute;
    left: 22px;
    bottom: 100px;
    z-index: 2;
}

.recipes__picture-shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 0%, rgba(34, 32, 32, 0.55) 82.82%);
    border-radius: 5px;
    z-index: 1;
}

.recipes__column_car-one {
    background-image: url('../images/car1.svg');
}

.recipes__column_car-two {
    background-image: url('../images/car2.svg');
}

.recipes__column_car-three {
    background-image: url('../images/car3.svg');
}

.recipes__column_car-four {
    background-image: url('../images/car4.svg');
}

.recipes__column_car-five {
    background-image: url('../images/car5.svg');
}

.span-title {
    position: absolute;
    top: 30px;
    left: 22px;
    background-color: #4A90E2;
    color: #ffffff;
    border-radius: 3px;
    width: 62px;
    height: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
}

.recipes__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.recipes__column-square {
    position: relative;
    width: 370px;
    height: 265px;
    border-radius: 5px;
}

.recipes__author {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;

    position: absolute;
    left: 22px;
    bottom: 85px;
    z-index: 2;
}

.recipes__title {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    width: 265px;

    position: absolute;
    left: 22px;
    bottom: 23px;
    z-index: 2;
}

/* section article */

.articles {
    display: flex;
    width: 1170px;
    margin: 0 auto 80px;
    justify-content: space-between;
}

.article-list {
    width: 790px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 100px;
}

.article {
    position: relative;
    width: 790px;
    height: 565px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.car-photo {
    width: 775px;
    height: 445px;
    background-size: cover;
    border-radius: 5px;
}

.art-text {
    width: 730px;
    height: 249px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 70px 100px 30px 30px;

    position: absolute;
    left: 23px;
    bottom: 0;
}

.article-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

.article-author {
    margin: 15px auto;
    color: #666666;

    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.article-text {
    color: #666666;

    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.span-title_article {
    position: absolute;
    left: 28px;
}

.page-nav {
    display: flex;
    justify-content: flex-start;
}

.page-nav__button {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-sizing: border-box;
    margin-right: 10px;
}

.page-nav__link {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;

    color: #171717;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-nav__link-reactive {
    color: #AEB3BB;
}

.page-nav__link:hover {
    background-color: #000000;
    color: #ffffff;
}


/* sidebar */

.sidebar {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* margin: 0 auto; */
}

.article-side {
    margin-bottom: 60px;
}

.sidebar-image {
    width: 270px;
    height: 201px;
    border-radius: 5px;
}

.sidebar-title {
    margin: 20px 0 8px 0;

    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}

.sidebar-author {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #999999;
}

.sidebar-text {
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;

    color: #666666;
    margin: 14px 0 21px;
}

.sidebar-button {
    background: #232323;
    color: #ffffff;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;

    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.sidebar-button:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.sidebar-button:active {
    background-color: #ffffff;
    color: #000000;
}

.popular-posts {
    margin: 23px 0 39px;
}

.popular-post {
    position: relative;
    margin-bottom: 39px;
}

.span-title_sidebar {
    position: absolute;
    top: 22px;
}

.popular-sidebar-title {
    margin: 20px 0 10px;

    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.instagram {
    margin-bottom: 60px;
}

.inst-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px 0 10px;
}

.inst-img {
    width: 130px;
    height: 130px;
    margin-bottom: 6px;
}

.inst-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.tags {
    width: 282px;
    margin-bottom: 40px;
}

.tags-list {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin-top: 26px;
}

.tag {
    /* width: 84px; */
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 7px 16px 5px;
}


.tag-link {
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #171717;
}

.tag:hover {
    background-color: #cccccc;
}

.email-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    color: #666666;
    margin-bottom: 27px;
}

.form__input {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    padding: 17px 0 15px 15px;

    color: #AEB3BB;
}

.bottom-side {
    margin: 0 auto;
    min-width: 1170px;
}

.bottom-side__list {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}

.bottom-side__item {
    position: relative;
    width: 270px;
    margin-bottom: 80px;
}

.span-title_bottom {
    position: absolute;
    top: 20px;
}

.bottom-side__img {
    border-radius: 5px;
    margin-bottom: 20px;
}

.pre-footer {
    width: 100%;
    background-color: #171717;
    min-height: 500px;
    color: #ffffff;
}

.pre-footer__columns {
    width: 1170px;
    margin: 0 auto 49px;
    padding-top: 65px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.pre-footer__column {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 270px;
    /* min-height: 500px; */
}

.logo_pre-footer {
    margin-bottom: 30px;

    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.pre-footer__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #cecece;
}

.pre-footer__title {
    margin-top: 64px;
    color: #FFFFFF;

    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
}

.social {
    margin-top: 23px;
    min-height: 34px;
    display: flex;
}

.social-cub {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    background-color: #373737;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #373737;
    margin-right: 15px;
}

.pre-footer__title_high {
    margin-top: 0;
}

.pre-footer__cars {
    position: relative;
    margin-top: 28px;
}

.pre-footer__img {
    height: 95px;
    width: 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.pre-footer__text-block {
    width: 178px;
    height: 95px;
    margin-left: 115px;
}

.pre-footer__art-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;

    margin-bottom: 13px;
    margin-top: 0;
    color: #FFFFFF;
}

.pre-footer__text_author {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #CECECE;
}

.sidebar-form__footer {
    margin-top: 38px;
}

.footer__input {
    background-color: #373737;
    border: none;
}

.footer {
    min-height: 94px;
    background-color: #000000;
    color: #ffffff;
}

.footer__content {
    width: 1170px;
    padding-top: 39px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.footer-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}